<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there, <%= @trader.first_name %>!</h1>
    <p>
      The app administrator temporarily suspended your account. 
    </p>
    <p>
      It's either you have done somthing against the app's policies or the administrators are currently working on the application's functionality. <br><br>
      If you have any concerns, please respond to this email and we'll get back to you as soon as we can. 
    </p>
  </body>
</html>
