<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello there, <%= @trader.first_name %>!</h1>
    <p>
      The app administrator made you a Trader account! 
    </p>
    <p>
      Please respond to this email so you get notified with your login credentials. Thank you! 
    </p>
  </body>
</html>
