<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great news, <%= @trader.first_name %>!</h1>
    <p>
      Your account has been approved and can now be logged in. Trade responsibly!
    </p>
  </body>
</html>
