<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Our App, <%= @trader.first_name %> 🚀</h1>
    <p>
      You have successfully signed up. Your username is: <%= @trader.email %>.<br> Your account is currently pending for approval. You will receive another email once your account gets approved by one of our app administrators.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
