.sidebar {
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1rem;
    height: 85vh;
    align-items: center;
    background-color: var(--color-bg-light);
    border-radius: 5px;
}

.avatar_container {
    color: var(--color-bg);
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    width: 100%;
    background: var(--color-light);
    
}

.avatar_text {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-transform: capitalize;
}

.avatar_container h4, .avatar_container h6 {
    margin: 0;
    font-family: var(--font-tertiary);
}

.avatar_logo {
    font-size: 4rem;
}

.avatar_admin {
    color: rgb(156, 144, 79);
}

.balance_container {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background: transparent;
    color: var(--color-light);
    outline: 1px solid var(--color-light);
    font-family: var(--font-tertiary);
    padding: 1rem 0;
    transition: var(--transition);
    border-radius: 2px;
}

.balance_container > span:nth-child(1) {
  font-size: 1.7rem;
}

.balance_action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 0.4rem;
}

.balance_action span {
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
}

.sidebar_btn {
    width: 100%;
}

.signout_btn {
    margin-top: auto; 
    align-self: flex-end;
}

@media screen and (max-width: 1024px){
    .sidebar {
        height: auto;
    }
    .signout_btn {
        margin: 0;
    }
}