.landing_container {
    background: linear-gradient(to bottom, #010711 5%, var(--color-bg) 30%, var(--color-bg) 30%, var(--color-bg) 35%);
    height: 85vh;
    position: relative;
    overflow: hidden;
}

.globe_bg {
    height: 50rem;
    position: absolute;
    right: -15rem;
    top: -8rem;
}

.landing_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 65%;
    margin: 5rem auto 0;
    font-family: var(--font-primary);
    color: white;
}

.landing_text h1 {
    font-size: 2.4rem;
}

.landing_text p {
    width: 65%;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
