.landing_container {
    position: relative;
    overflow: hidden;
}

.globe_bg {
    height: 50rem;
    position: absolute;
    right: -15rem;
    top: -8rem;
}

/* LANDING TEXT */
.landing_text {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 65%;
    margin: 0 auto;
    font-family: var(--font-primary);
    color: white;
}

.landing_text h1 {
    font-size: 2.4rem;
}

.landing_text p {
    width: 65%;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

/* LANDING ABOUT */
.landing_about {
    position: relative;
    background-color: white;
    padding: 3rem;
}

.vision_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vision_container h1, .vision_container h3 {
    font-family: var(--font-tertiary);
}

.vision_container h1 {
    font-size: 2.8rem;
    font-weight: 600;
}

.vision_container h3 {
    margin: 1rem 0 2.5rem;
}

.vision {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.vision_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 75%;
    margin: 0 auto;
}

.vision_logo {
    font-size: 3.9rem;
    border: 2px solid gray;
    padding: 0.75rem;
    color: var(--color-teal-primary);
}

.vision_item h5 {
    text-transform: uppercase;
    width: 60%;
    margin: 0.5rem 0 0;
    font-family: var(--font-primary);
    font-size: 1.1rem;
}

.vision_item p {
    font-family: var(--font-primary);
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px){
    .landing_text {
        height: 55vh;
        width: 80%;
    }
	.landing_about {
        padding: 3rem 1rem 5rem;
    }
    .vision_item {
        width: 90%;
    }
    .vision_item h5 {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .vision_container {
        position: relative;
        z-index: 999;
    }
    .globe_bg{
        z-index: -999;
    }
	.landing_text {
        text-align: center;
    }
    .landing_text h1 {
    font-size: 2rem;
    }

    .landing_text p {
        width: 100%;
        font-size: 0.9rem;
    }
    .landing_text {
        height: 72.5vh;
    }
    .vision_container h1 {
        font-size: 2.0rem;
    }
    .vision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .vision_item {
        gap: 0.5rem;
        width: 90%;
    }
}